<div>
    <h2>1.	Research Assistant (Internship)</h2>
    <h3>Responsibility:</h3>
    <h3>While a research assistant is expected to contribute in many ways to the research project, typical responsibilities include the following:</h3>
    <ul>
        <li>Conduct literature reviews</li>
        <li>Collect and analyze data</li>
        <li>Provide ready access to all experimental data for the supervisor</li>
        <li>Attend project meetings</li>
        <li>Attend area seminars and other meetings as necessary</li>
        <li>Summarize project results</li>
        <li>Prepare other articles, reports, and presentations</li>
        <li>Monitor the project budget</li>
    </ul>
    <h3>Requirements:</h3>
    <ul>
        <li>Research experience, majors in marketing, advertising, and neurofeedback training are preferred</li>
        <li>Experience with Microsoft Office, Excel, and PowerPoint</li>
        <li>Satisfactory academic progress</li>
        <li>Satisfactory academic progress</li>
    </ul>
</div>
